.card {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.face_up {
    background-color: lightcoral;
    border: 2.5px solid lightcoral;
}

.face_down {
    background-color: lightblue;
    border: 2.5px solid lightblue;
}

.empty {
    border: 2.5px white solid;
}

.suit_pile {
    font-size: 20pt;
    background-color: lightgray;
    border: 2.5px lightgray solid;
    margin-right: 5px;
}

.three_flip {
    margin-right: 5px;
}

.selected {
    border: 2.5px green solid;
}

#draw_pile {
    margin-right: 30px;
}

#hearts_pile {
    margin-left: 150px
}

#top_container {
    display: flex;
    flex-direction: row;
}

#playing_table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 375px;
    margin-top: 25px;
}

#playing_table > div {
    margin: 0px 10px 4px 0px;
}